<div class="container vh-100 d-flex align-items-center justify-content-center">
  <div class="row w-100">
    <div class="col-md-6 d-flex flex-column justify-content-center p-5">
      <h1 class="mb-3" style="color: purple">Forgotten Password</h1>
      <p class="text-muted mb-4">
        Enter your registered email to receive a reset link.
      </p>

      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Registered Email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
            placeholder="Enter your registered email"
          />
          <div
            *ngIf="
              forgotForm.get('email')?.invalid &&
              forgotForm.get('email')?.touched
            "
            class="text-danger"
          >
            <small *ngIf="forgotForm.get('email')?.errors?.['required']">
              Email is required.
            </small>
            <small *ngIf="forgotForm.get('email')?.errors?.['email']">
              Please enter a valid email.
            </small>
          </div>
        </div>

        <button
          type="submit"
          class="btn w-100 cursor-pointer"
          style="color: wheat; background-color: purple"
          [disabled]="forgotForm.invalid"
        >
          Send Link
        </button>
      </form>

      <div class="d-flex justify-content-between align-items-center mt-3">
        <div class="d-flex align-items-center">
          <span class="text-muted ms-2" style="font-size: 0.9rem"
            >Remember your password?</span
          >
          <a
            [routerLink]="'/auth/login'"
            style="color: purple; font-size: 0.9rem"
            class="text-decoration-none ms-1"
          >
            Log in
          </a>
        </div>
        <div class="d-flex align-items-center">
          <span class="text-muted ms-2" style="font-size: 0.9rem"
            >New here?</span
          >
          <a
            [routerLink]="'/auth/signup'"
            style="color: deeppink; font-size: 0.9rem"
            class="text-decoration-none ms-1"
          >
            Sign Up
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-6 d-none d-md-block">
      <img
        src="assets/images/resetimg.jpg"
        class="img-fluid full-height-image"
        alt="Reset password preview"
      />
    </div>
  </div>
</div>
