.violet-button {
  background-color: rgb(128, 0, 128);
  color: white;
  border: none;
}

.violet-button:hover {
  background-color: rgb(0, 110, 110);
}

.cursor-pointer {
  cursor: pointer;
}
.card {
  margin-top: 80px;
}
.card {
  padding: 5%;
  margin-top: 80px;
  border-radius: 20px;
}
.card-header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.list-group-item {
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  max-height: 80%;
  overflow: auto;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  z-index: 1100;
}

.close-btn:hover {
  color: red;
}

.table-container {
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.excel-preview-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.excel-preview-table th,
.excel-preview-table td {
  padding: 0.8rem;
  border: 1px solid black;
  text-align: left;
}

.on-hover:hover {
  background-color: rgb(130, 190, 190);
}

.excel-preview-table th {
  background-color: black;
  color: white;
  font-weight: bold;
}

.excel-preview-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.excel-preview-table tr:hover {
  background-color: #f1f1f1;
}

.no-data-message {
  text-align: center;
  font-style: italic;
  color: #888;
}

.download-link {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
}

.download-link:hover {
  background-color: #0056b3;
}
