<div class="modal-body custom-font">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <!-- Product Name -->
    <div class="mb-3">
      <label for="productName" class="form-label">Product Name</label>
      <input
        type="text"
        id="productName"
        class="form-control"
        formControlName="productName"
        placeholder="Enter product name"
      />
      <div
        *ngIf="
          productForm.get('productName')?.invalid &&
          productForm.get('productName')?.touched
        "
        class="text-danger"
      >
        Product name is required.
      </div>
    </div>

    <!-- Category -->
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select id="category" class="form-select" formControlName="category">
        <option value="" disabled selected class="custom-font">
          Select category
        </option>
        <option
          *ngFor="let category of categories?.data"
          [value]="category.category_id"
        >
          {{ category.category_name }}
        </option>
      </select>
      <div
        *ngIf="
          productForm.get('category')?.invalid &&
          productForm.get('category')?.touched
        "
        class="text-danger"
      >
        Category is required.
      </div>
    </div>

    <!-- Vendor -->
    <div class="mb-3">
      <label for="vendor" class="form-label">Vendors</label>
      <div class="form-check" *ngFor="let vendor of vendors?.data">
        <input
          class="form-check-input"
          type="checkbox"
          [value]="vendor.vendor_id"
          (change)="onVendorChange($event)"
          [checked]="isSelected(vendor.vendor_id)"
        />
        <label class="form-check-label">
          {{ vendor.vendor_name }}
        </label>
      </div>
      <div
        *ngIf="
          productForm.get('vendor')?.invalid &&
          productForm.get('vendor')?.touched
        "
        class="text-danger"
      >
        Atleast one Vendor is required.
      </div>
    </div>

    <!-- Quantity -->
    <div class="mb-3">
      <label for="quantity" class="form-label">Quantity</label>
      <input
        type="number"
        id="quantity"
        class="form-control"
        formControlName="quantity"
        placeholder="Enter quantity"
      />
      <div
        *ngIf="
          productForm.get('quantity')?.invalid &&
          productForm.get('quantity')?.touched
        "
        class="text-danger"
      >
        Quantity must be at least 1.
      </div>
    </div>

    <!-- Unit -->
    <div class="mb-3">
      <label for="unit" class="form-label">Unit Price</label>
      <input
        type="text"
        id="unit"
        class="form-control"
        formControlName="unit"
        placeholder="Enter unit (e.g., Maggie)"
      />
      <div
        *ngIf="
          productForm.get('unit')?.invalid && productForm.get('unit')?.touched
        "
        class="text-danger"
      >
        Unit Price is required.
      </div>
    </div>

    <!-- Status -->
    <div class="mb-3">
      <label for="status" class="form-label">Status</label>
      <select id="status" class="form-select" formControlName="status">
        <option value="" disabled selected class="custom-font">
          Select status
        </option>
        <option value="1">Available</option>
        <option value="0">Sold Out</option>
      </select>
      <div
        *ngIf="
          productForm.get('status')?.invalid &&
          productForm.get('status')?.touched
        "
        class="text-danger"
      >
        Status is required.
      </div>
    </div>

    <!-- Upload Image -->
    <div class="mb-3">
      <label for="productImage" class="form-label">Upload Product Image</label>
      <label
        class="align-items-center border rounded-3 p-4 mb-3 d-block upload-container"
        *ngIf="!selectedFile"
      >
        <input
          type="file"
          id="productImage"
          class="form-control d-none"
          formControlName="productImage"
          (change)="onImageSelected($event)"
          accept=".svg, .png, .jpg, .jpeg, .webp"
        />
        <i class="bi bi-upload"></i>
        <p class="mb-1">Click to upload or drag and drop</p>
        <p class="text-muted small mb-0">
          SVG, PNG, JPG or GIF (max. 800x400px)
        </p>
      </label>
      <div
        *ngIf="selectedFile"
        class="align-items-center rounded-3 p-4 mb-3 d-block cursor-pointer"
      >
        <p><strong>Image Name:</strong> {{ selectedFile.name }}</p>
        <p>
          <strong>Image Size:</strong> {{ selectedFile.size | number }} bytes
        </p>
      </div>
    </div>

    <!-- Buttons -->
    <div class="d-flex justify-content-between">
      <button type="button" class="btn red-button" (click)="onUpload()">
        Upload
      </button>
      <button
        type="submit"
        class="btn red-button"
        [disabled]="productForm.invalid"
        data-bs-dismiss="modal"
      >
        Add
      </button>
    </div>
  </form>
</div>
